html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: 200;
  font-family: 'Helvetica Neue', sans-serif;
  vertical-align: baseline;
  background: transparent; }

/*font scaling*/
/* xs < 768 */
@media screen and (max-width: 767px) {
  body {
    font-size: 2.4em; } }
/* sm */
@media screen and (min-width: 768px) {
  body {
    font-size: 2.2em; }

  #header h1 {
    font-size: 4em !important; }

  .description {
    font-size: 1.2em; } }
@media screen and (max-width: 991px) {
  #header, #portfolio {
    background-attachment: scroll !important; } }
/* md */
@media screen and (min-width: 992px) {
  body {
    font-size: 1.8em; }

  h1 {
    font-size: 5em !important; }

  #header h1 {
    font-size: 6em !important; }

  h3 {
    font-size: 1.3em !important; }

  .description {
    font-size: 1.5em; } }
/* lg */
@media screen and (min-width: 1200px) {
  body {
    font-size: 1.6em; }

  #header h1 {
    font-size: 6.8em !important; }

  .description {
    font-size: 1.7em; } }
html, body {
  height: 100%; }

body {
  background-color: black;
  opacity: 1;
  -webkit-transition: 0.5s opacity;
  transition: 0.5s opacity; }

body.fade-out {
  opacity: 0;
  -webkit-transition: none;
  transition: none;
  animation-play-state: paused !important; }

a, a:hover, a:visited, a:active {
  text-decoration: none;
  color: inherit; }

.container-fluid {
  padding: 0;
  height: 100%;
  color: #000000; }

.section {
  height: auto;
  min-height: 100%;
  padding: 30px 0;
  display: flex; }

.content {
  margin: auto;
  text-align: center; }

h1 {
  font-size: 3em; }

h3 {
  font-size: 1.6em;
  margin-bottom: 20px; }

h4 {
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
  margin-top: 20px; }

h5 {
  text-transform: uppercase;
  text-align: left; }

#header {
  background-color: #2b3f00;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transition: background-image 0.5s ease;
  transition: background-image 0.5s ease; }

#header h1 {
  color: #FFFFFF;
  margin-bottom: 20px; }

.description {
  background-color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 20px;
  animation: createBox 1.2s;
  -webkit-animation: createBox 1.2s; }

@keyframes createBox {
  0% {
    transform: scale3d(0, 0.01, 1); }
  65% {
    transform: scale3d(1, 0.01, 1); }
  100% {
    transform: scale3d(1, 1, 1); } }
@-webkit-keyframes createBox {
  0% {
    transform: scale3d(0, 0.01, 1); }
  65% {
    transform: scale3d(1, 0.01, 1); }
  100% {
    transform: scale3d(1, 1, 1); } }
.scroll_down {
  position: absolute;
  left: 0;
  bottom: 80px;
  text-align: center;
  width: 100%;
  color: white;
  font-size: calc(9pt + 0.2em);
  opacity: 0.5; }

.scroll_down:after {
  content: '';
  width: 30px;
  height: 30px;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  animation: 3s arrow infinite ease;
  -webkit-animation: 3s arrow infinite ease;
  border-right: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

@-webkit-keyframes arrow {
  0%,100% {
    top: 20px; }
  50% {
    top: 50px; } }
@keyframes arrow {
  0%,100% {
    top: 20px; }
  50% {
    top: 50px; } }
#info {
  background-color: #FFF; }

#info h1 {
  margin-bottom: 100px; }

@media only screen and (min-width: 992px) {
  #info .inner {
    display: flex;
    align-items: center; } }
#info .content img {
  width: 100%;
  max-width: 300px; }

#info .information {
  padding-top: 20px; }

#info .information p {
  padding-bottom: 20px; }

.socials {
  padding: 20px;
  font-size: 2em; }

#portfolio {
  background-color: #416d8c;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transition: background-image 0.5s linear;
  transition: background-image 0.5s linear; }

#portfolio h1 {
  color: #FFFFFF;
  margin-bottom: 100px; }

#portfolio small {
  font-size: 0.8em; }

.project {
  margin: 20px;
  padding: 20px;
  background-color: #FFFFFF; }

.project:hover {
  cursor: hand;
  cursor: pointer; }

.imagecontainer {
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
  margin: auto; }

.project img {
  border-radius: 10px;
  max-width: 100%;
  max-height: 200px;
  width: auto;
  height: auto; }

.project a:hover {
  color: #676767; }

.stack {
  font-size: 0.9em; }

#resume {
  background-color: white;
  font-size: 0.8em; }

#resume ul {
  text-align: left;
  list-style-position: inside; }

#resume .experience h5 {
  margin-bottom: 10px; }

.card-columns {
  column-count: 1; }
  @media screen and (min-width: 992px) {
    .card-columns {
      column-count: 2; } }

.card {
  border: none;
  border-radius: 0;
  padding: 20px; }

#resume .btn {
  font: inherit; }

.footer {
  text-align: center;
  font-size: 0.5em;
  background-color: white;
  padding-top: 20px; }

.zeroed {
  padding: 0 !important;
  margin: 0 !important; }

.pagination {
  position: fixed;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  font-size: 0.5em;
  z-index: 10;
  -webkit-transition: opacity 0.1s ease-in;
  transition: opacity 0.1s ease-in; }

.pagination li {
  width: 10px;
  height: 10px;
  display: block;
  border: 1px solid darkgrey;
  border-radius: 50%;
  margin: 15px 5px;
  -webkit-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease; }

.pagination li.active {
  box-shadow: inset 0 0 0 5px darkgrey; }

/*# sourceMappingURL=index.css.map */
