html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: 200;
  font-family: 'Helvetica Neue', sans-serif;
  vertical-align: baseline;
  background: transparent; }

/*font scaling*/
/* xs < 768 */
@media screen and (max-width: 767px) {
  body {
    font-size: 2.2em; } }
/* sm */
@media screen and (min-width: 768px) {
  body {
    font-size: 2.2em; }

  #header h1 {
    font-size: 4em !important; }

  .description {
    font-size: 1.2em; } }
@media screen and (max-width: 991px) {
  #header, #portfolio {
    background-attachment: scroll !important; }

  .pagination {
    display: none !important; } }
/* md */
@media screen and (min-width: 992px) {
  body {
    font-size: 1.8em; }

  h1 {
    font-size: 5em !important; }

  #header h1 {
    font-size: 6em !important; }

  h3 {
    font-size: 1.3em !important; }

  .description {
    font-size: 1.5em; } }
/* lg */
@media screen and (min-width: 1200px) {
  body {
    font-size: 1.6em; }

  #header h1 {
    font-size: 6.8em !important; }

  .description {
    font-size: 1.7em; } }
html, body {
  height: 100vh; }

body {
  background-color: black;
  opacity: 1;
  -webkit-transition: 0.5s opacity;
  transition: 0.5s opacity; }

body.fade-out {
  opacity: 0;
  -webkit-transition: none;
  transition: none;
  animation-play-state: paused !important; }

a, a:hover, a:visited, a:active {
  text-decoration: none;
  color: inherit; }

.container-fluid {
  padding: 0;
  height: 100%;
  color: #000000; }

.section {
  height: auto;
  min-height: 100%;
  display: flex; }

.content {
  margin: auto;
  text-align: center;
  padding: 30px 0; }

h1 {
  font-size: 3em; }

h3 {
  font-size: 1.6em;
  margin-bottom: 20px; }

h4 {
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
  margin-top: 20px; }

h5 {
  text-transform: uppercase;
  text-align: left; }

.zeroed {
  padding: 0 !important;
  margin: 0 !important; }

.pagination {
  position: fixed;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  font-size: 0.5em;
  z-index: 10;
  -webkit-transition: opacity 0.1s ease-in;
  transition: opacity 0.1s ease-in; }

.pagination li {
  position: relative;
  width: 10px;
  height: 10px;
  display: block;
  border: 1px solid darkgrey;
  border-radius: 50%;
  margin: 15px 5px;
  -webkit-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease; }

.pagination li.active {
  box-shadow: inset 0 0 0 5px darkgrey; }

.pagination:hover {
  cursor: pointer; }

.nav-label {
  color: darkgray;
  font-size: 1.3em;
  position: relative;
  left: -70px;
  top: -10px;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out; }

.pagination li:hover .nav-label {
  opacity: 1; }

#header {
  background: url("fern.jpg") center center no-repeat fixed #2b3f00;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#header h1 {
  color: #FFFFFF;
  margin-bottom: 20px; }

.description {
  background-color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 20px;
  margin-bottom: 40px;
  animation: createBox 1.2s;
  -webkit-animation: createBox 1.2s; }

@keyframes createBox {
  0% {
    transform: scale3d(0, 0.01, 1); }
  65% {
    transform: scale3d(1, 0.01, 1); }
  100% {
    transform: scale3d(1, 1, 1); } }
@-webkit-keyframes createBox {
  0% {
    transform: scale3d(0, 0.01, 1); }
  65% {
    transform: scale3d(1, 0.01, 1); }
  100% {
    transform: scale3d(1, 1, 1); } }
.scroll_down {
  position: absolute;
  left: 0;
  bottom: 80px;
  text-align: center;
  width: 100%;
  color: white;
  font-size: calc(9pt + 0.2em);
  opacity: 0.5; }

.scroll_down:after {
  content: '';
  width: 30px;
  height: 30px;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  animation: 3s arrow infinite ease;
  -webkit-animation: 3s arrow infinite ease;
  border-right: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

@-webkit-keyframes arrow {
  0%,100% {
    top: 20px; }
  50% {
    top: 50px; } }
@keyframes arrow {
  0%,100% {
    top: 20px; }
  50% {
    top: 50px; } }
#info {
  background-color: #FFF; }

#info .top {
  margin-bottom: 60px; }

#info img {
  width: 200px;
  padding: 40px 10px;
  float: left; }
  @media screen and (max-width: 991px) {
    #info img {
      float: none; } }

#info p {
  margin-bottom: 20px; }

.skills {
  font-size: 0.6em;
  display: flex;
  flex-flow: column nowrap;
  padding-top: 20px; }

.skill {
  background: whitesmoke;
  width: 100%;
  text-align: right;
  margin: 10px 0;
  position: relative;
  padding: 5px 0;
  border-radius: 2px; }

.skill .bar {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  text-align: left;
  animation: 2s bar ease-out;
  -webkit-animation: 2s bar ease-out;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

@-webkit-keyframes bar {
  from {
    background: darkseagreen;
    max-width: 0; }
  to {
    background: darkseagreen;
    max-width: 100%; } }
@keyframes bar {
  from {
    background: darkseagreen;
    max-width: 0; }
  to {
    background: darkseagreen;
    max-width: 100%; } }
.skills .skill:nth-child(2) .bar {
  animation-delay: 0.3s; }

.skills .skill:nth-child(3) .bar {
  animation-delay: 0.6s; }

.skills .skill:nth-child(4) .bar {
  animation-delay: 0.9s; }

.skills .skill:nth-child(5) .bar {
  animation-delay: 1.2s; }

.skills .skill:nth-child(6) .bar {
  animation-delay: 1.5s; }

.skills .skill:nth-child(7) .bar {
  animation-delay: 1.8s; }

.skill .bar .tag {
  width: 150px;
  padding: 5px 0;
  background-color: #2b3f00;
  color: #FFF;
  display: inline-block;
  text-align: center;
  border-radius: 2px 0 0 2px; }

.skill .percent {
  position: relative;
  right: 0;
  padding-right: 5px; }

.socials {
  font-size: 1.5em; }

.resume a {
  display: inline-block;
  text-align: center;
  background-color: black;
  color: white;
  border-radius: 2px;
  border: none;
  padding: 10px;
  margin-top: 16px;
  opacity: 0.6;
  -webkit-transition: opacity 360ms;
  transition: opacity 360ms; }

.resume a:hover {
  cursor: pointer;
  opacity: 0.4; }

#portfolio {
  background: url("fern.jpg") center center no-repeat fixed #2b3f00;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#portfolio h1 {
  color: #FFFFFF;
  margin-bottom: 100px; }

#portfolio small {
  font-size: 0.8em; }

.project {
  margin: 20px;
  padding: 20px;
  background-color: #FFFFFF; }

.project:hover {
  cursor: pointer; }

.imagecontainer {
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
  margin: auto; }

.project img {
  border-radius: 10px;
  max-width: 100%;
  max-height: 200px;
  width: auto;
  height: auto; }

.project a:hover {
  color: #676767; }

.stack {
  font-size: 0.9em; }

#contact {
  background-color: #FFFFFF; }

#contact .content {
  padding-bottom: 30px; }

#contact input, #contact textarea {
  margin-top: 16px;
  width: 60%;
  padding: 10px;
  font: inherit;
  font-size: 0.7em !important;
  border-radius: 2px;
  border: 1px solid darkgray;
  -webkit-transition: border 360ms;
  transition: border 360ms; }

#contact input:focus, #contact textarea:focus {
  outline: none;
  border: 1px solid black; }

#contact textarea {
  min-height: 150px; }

#contact input[type="submit"] {
  background-color: black;
  color: white;
  border: none;
  opacity: 1;
  -webkit-transition: opacity 360ms;
  transition: opacity 360ms; }

#contact input[type="submit"]:hover {
  cursor: pointer;
  opacity: 0.6; }

/*# sourceMappingURL=index.css.map */
